
/* base rule */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  font-size: 62.5%;
}
h1, h2, h3, h4, h5, h6{
   font-family: 'Noto Serif' ,sans-serif;
}
p, li, a{
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-size: 1.8rem;
    font-weight: 400;
  

}

a{
  text-decoration: none;
  color: var(--small-text--color);
}
li{
  list-style: none;
}

body{
  background-color: var(--background-color);
  
}

/* theme  */
  :root{
    --background-color: #FAF7F3;
    --small-text--color: grey;
    --white-color:  #ffffff;
    --accent-color: #D9A299;
    --icon-color: black;
    --section-bg--color: #F0E4D3;
    --outline-color: #DCC5B2;


  }
 

/* layout */

 .container{
  max-width: 122rem;
  margin: 0 auto;
  padding: 4rem 4rem;
 
}
.grid{
  display: grid;
}
.grid-three--cols{
  grid-template-columns: repeat(3, 1fr);
}
.grid-two--cols{
  grid-template-columns: repeat(2, 1fr);
}

/* module / reusable */
.product-container{
    gap: 2.4rem;
    align-items: center;
    justify-content: center;
}
.product-card{
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: #f8f8f8;
  border-radius: 1.9rem;
  -webkit-border-radius: 1.9rem;
  -moz-border-radius: 1.9rem;
  -ms-border-radius: 1.9rem;
  -o-border-radius: 1.9rem;
  padding: 2.2rem 2.2rem;

  & .product-description{
     & .description{
      font-size: 1.5rem;
    }
   }

}
.img-container{
  border: 1px solid rgb(208, 196, 196);
  width: 100%;
  height: 20rem;
  background-color: var(--section-bg--color);
  border-radius: 1.9rem;

  -webkit-border-radius: 1.9rem;
  -moz-border-radius: 1.9rem;
  -ms-border-radius: 1.9rem;
  -o-border-radius: 1.9rem;


  & .product-image
  {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.product-info{
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 1.2rem;
  
  & .product-info-1{
    display: flex;
    gap: 9.2rem;
    & .product-title--stock{
      flex-grow: 1;
    }
    & .product-name{
      font-size: 1.85rem;
      font-weight: 500;
    }
    & .product-card--subheading{
      font-size: 1.35rem;
      color: var(--small-text--color);
    }
    & .product-cart--button{
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background-color: var(--accent-color);
      outline: none;
      border: none;
      cursor: pointer;


    }
    & .fa-bag-shopping{
      font-size: 2.2rem;
      padding: 1.2rem;
      text-align: center;
      
    }
    
  }
   & .product-price-segment{
        & .product-price{
         font-weight: 500;
         font-size: 1.7rem;
         }

         & .product-actual-price{
          font-size: 1.3rem;
          text-decoration: line-through;
          color: var(--small-text--color);
         }
    }

}
.product-quantity{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  & .product-quantity--stock{
    background-color: var(--background-color);
    align-items: center;
    border: 0.01rem solid var(--accent-color);
    margin: 0.8rem 0;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;

    & button{
      background-color: transparent;
      border: none;
      font-size: 1.8rem;
      padding: 1rem;
      font-weight: bold;
      

      &:hover{
        cursor: pointer;
        
      }
    }
    & p{
      text-align: center;
      border-right: 0.02rem solid var(--accent-color);
      border-left: 0.02rem solid var(--accent-color);
      padding: 1rem;
    }
}
}
/* .product-card{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  align-items: center;
  padding: 1rem 1rem;
  background-color: var(--white-color);
  border-radius: 1.9rem;
  -webkit-border-radius: 1.9rem;
  -moz-border-radius: 1.9rem;
  -ms-border-radius: 1.9rem;
  -o-border-radius: 1.9rem;
  text-align: left;
  width: 20rem;
  height: 20rem;

  & .card-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.2rem;
    & .product-arrow-link{
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background-color: var(--accent-color);
      padding: 0.6rem 1.4rem;
      
       & .fa-arrow-up{
      
      transform: rotate(45deg);
      transform-origin: center;
      }
    }
    
  }
  & .product-image {
    border-radius: 0.9rem;
     -webkit-border-radius: 0.9rem;
     -moz-border-radius: 0.9rem;
      -ms-border-radius: 0.9rem;
      -o-border-radius: 0.9rem;
      height: 10rem;
   
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      
    }
  
  }
.product-image figure{
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
.product-info .product-card--subheading{
    color: var(--small-text--color);
    font-size: 1.4rem;
  }
.card-title .product-common--title{
    font-size: 2rem;
    font-weight: 600;
    
  }

} */
.section-commmon--heading{
  font-size: 5rem;
  font-weight: 400;
}
.fa-solid{
  color: var(--icon-color);
  font-size: 1.4rem;
}
.btn{
   display: inline-block;
   font-size: 1.8rem;
   padding: 1rem 1.5rem;
   text-align: center;
   cursor: pointer;
   border: 2px solid var(--accent-color);
   border-radius: 3rem;
   -webkit-border-radius: 3rem;
   -moz-border-radius: 3rem;
   -ms-border-radius: 3rem;
   -o-border-radius: 3rem;
   transition: all .1s ease;
   -webkit-transition: all .1s ease;
   -moz-transition: all .1s ease;
   -ms-transition: all .1s ease;
   -o-transition: all .1s ease;
   &:hover{


    background-color: var(--accent-color);
    color: var(--white-color);

  }
}

/* states */
.nav-link:hover, .nav-link:focus-visible{
   background-color: var(--accent-color);
   border: 1px solid var(--accent-color);
   border-radius: 4rem;
   -webkit-border-radius: 4rem;
   -moz-border-radius: 4rem;
   -ms-border-radius: 4rem;
   -o-border-radius: 4rem;
   color: var(--white-color);
}
.header-right--div .fa-bag-shopping:hover{

        background-color: var(--accent-color);

      }

/***** Navbar Section *****/
.section-header{
  width: 100%;
}

.navbar{
  background-color: white;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  & ul{
    padding: 0.5rem 2.4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    
   
    }
    & .nav-link{
      font-size: 1.7rem;
      text-align: center;
      outline: none;
      border: none;
      white-space: nowrap;
      transition: all 0.1s ease;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -ms-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
}
  }

  .header-center--div .logo-text{
    font-size: 4rem;
    text-align: center;
    font-family: 'Noto Serif', sans-serif;
    font-weight: 400;
  }
  .header-right--div{
    display: flex;
    align-items: center;
    gap: 1.6rem;

     & .fa-bag-shopping{
      font-size: 1.9rem;
      background-color: transparent;
      padding: 1.4rem 1.5rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      cursor: pointer;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;

      
    }
    

    & .search-div{
      background-color: var(--white-color);
      padding: 0.6rem 1rem;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
      & input
      {
        font-size: 1.5rem;
       
        border: none;
        background-color: transparent;
        outline: none;
        padding: 0 3rem 0 0;

        &::placeholder{
          font-size: 1.5rem;
        }
      }
      & .fa-magnifying-glass{
        background-color: var(--accent-color);
        padding: 1rem 1.1rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        cursor: pointer;
      }
      
    }
  }




/***** End Navbar Section *****/
/***** Hero Section *****/ 
.section-hero .container{
  position: relative;
  background-color: var(--section-bg--color);
  border-radius: 1.9rem;
  -webkit-border-radius: 1.9rem;
  -moz-border-radius: 1.9rem;
  -ms-border-radius: 1.9rem;
  -o-border-radius: 1.9rem;
  padding-bottom: 0;
}
.hero-content{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 3.4rem;

  & .hero-heading{
    font-size: 5.5rem;
    font-weight: 500;
  }
  & .hero-btn{
    margin-top: 3rem;
  }
  & .hero-tag--div{
    border: 2px solid var(--outline-color);
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.6rem 1.5rem;
    margin: 0rem 1.1rem 1.1rem 0 ;
    border-radius: 1.9rem;
    -webkit-border-radius: 1.9rem;
    -moz-border-radius: 1.9rem;
    -ms-border-radius: 1.9rem;
    -o-border-radius: 1.9rem;
  }
 
}
.hero-image{
  position: relative;
  
}
.model-image{
  position: absolute;
  bottom: 0;
  right: 3%;
  height: 100%;
  border: none;
}
/* .hero-image .product-card{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  align-items: center;
  padding: 1rem 1rem;
  position: absolute;
  right: 70%;
  bottom: 10%;
  background-color: var(--background-color);
  border-radius: 1.9rem;
  -webkit-border-radius: 1.9rem;
  -moz-border-radius: 1.9rem;
  -ms-border-radius: 1.9rem;
  -o-border-radius: 1.9rem;
  text-align: left;
  width: auto;



  & .card-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.2rem;
    & .product-arrow-link{
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background-color: var(--accent-color);
      padding: 0.6rem 1.4rem;
      
       & .fa-arrow-up{
      
      transform: rotate(45deg);
      transform-origin: center;
      
     
}
    }
    
  }
  & .product-image {
    background-color: var(--section-bg--color);
    border-radius: 0.9rem;
      -webkit-border-radius: 0.9rem;
      -moz-border-radius: 0.9rem;
      -ms-border-radius: 0.9rem;
      -o-border-radius: 0.9rem;
   
    & img{
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
      
}
  
  }
.product-image figure{
      width: 100%;
      aspect-ratio: 4/3;
      overflow: hidden;
    }
  & .product-card--subheading{
    color: var(--small-text--color);
    font-size: 1.4rem;
  }
  & .product-common--title{
    font-size: 2rem;
    font-weight: 600;
    
  }

} */
 /***** End Hero Section *****/
/***** about us Section *****/ 
.about-us--div{
  background-color: #F8F0E5;
  margin-top: 4rem;
  border-radius: 1.9rem;
  -webkit-border-radius: 1.9rem;
  -moz-border-radius: 1.9rem;
  -ms-border-radius: 1.9rem;
  -o-border-radius: 1.9rem;
   align-items: center;
   justify-content: center;
}
.about-us--content{
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  gap: 1.4rem;
  
}
.about-content--div1{
  border-radius: 1.9rem;
  background-color: #E48F45;
  grid-row: 1 / span 2;
  -webkit-border-radius: 1.9rem;
  -moz-border-radius: 1.9rem;
  -ms-border-radius: 1.9rem;
  -o-border-radius: 1.9rem;
  overflow: hidden;
}
 .about-content--div1 figure{
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  & img{
    width: 100%;
    object-fit: contain;
    height: 100%;
    object-position: center bottom;    
    
  }
 }

.about-content--div2{
  border-radius: 1.9rem;
  background-color: #F5CCA0;
 
  -webkit-border-radius: 1.9rem;
  -moz-border-radius: 1.9rem;
  -ms-border-radius: 1.9rem;
  -o-border-radius: 1.9rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding:1.7rem 1.3rem;
  gap: 1.2rem;
  

  & i{
    font-size: 2.6rem;

  }
  & .section-common--heading{
    font-size: 1.6rem;
    font-weight: 500;
  }
}
.about-content--div3{
  border-radius: 1.9rem;
  -webkit-border-radius: 1.9rem;
  -moz-border-radius: 1.9rem;
  -ms-border-radius: 1.9rem;
  -o-border-radius: 1.9rem;
  overflow: hidden;
  
}
 .about-content--div3 figure{
  width: 100%;
  height: 100%;
  overflow: hidden;


  & img{
    width: 100%;
    object-fit: contain;
    
  }
 }
 .about-content--div4{
  border-radius: 1.9rem;
  grid-column: 2 / span 2;
   background-color: #E1C78F;
  -webkit-border-radius: 1.9rem;
  -moz-border-radius: 1.9rem;
  -ms-border-radius: 1.9rem;
  -o-border-radius: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.2rem;
  text-align: justify;
}
/***** best selling Section *****/ 
.best-selling--products{
  margin-top: -3%;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.best-selling--content{
  grid-template-columns: 35% 50%;
  gap: 16rem;

  & p{
    overflow-wrap: break-word;
  }
}
.section-best--selling{
  & .section-commmon--heading{
    font-size: 3.5rem;
  }
}
 /***** End best selling Section *****/

 /***** cart products Section *****/ 

  /***** End cart products Section *****/
 
.cart-product--item{
  height: 20rem;
  width: 100%;
  display: flex;
   justify-content: space-between;
   padding: 2.4rem;
   align-items: center;
  border: 1px solid var(--outline-color);


  & .cart-product-image{
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    & .cart-product--img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & .cart-product--details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
}